* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  border-radius: 0;
  outline: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-color-swatch {
  border: 0;
  border-radius: 0;
}

::-moz-color-swatch,
::-moz-focus-inner {
  border: 0;
}

::-moz-focus-inner {
  padding: 0;
}

body {
  background-color: #fff6b5;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
}

.desc {
  margin-bottom: 20px;
}

.subtitle {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 16px;
}

section {
  display: flex;
  gap: 10px;
  height: fit-content;
}

canvas {
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border-radius: 15px;
  border-top-left-radius: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
  height: 400px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

/* Fill, Reset, Erase button */
.btns button {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  border: none;
  background-color: #fff;
  width: 60px;
  height: 60px;
  font-size: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: all 0.1s ease-in-out;
}

.btns button svg {
  height: 25px;
  width: 25px;
  fill: #1c60ff;
}

.btns button svg path {
  fill: #1c60ff;
}

.btns button svg polygon {
  fill: #1c60ff;
}

.btns button.active {
  background-color: #ffd53b;
}

.btns button div {
  font-size: 25px;
  color: #1c60ff;
}

.btns button span {
  font-size: 12px;
}

.btns button:hover {
  background-color: #65aaff;
  color: #fff;
  cursor: pointer;
}

.btns button:hover svg {
  fill: #fff;
}

.btns button:hover svg path {
  fill: #fff;
}

.btns button:hover svg polygon {
  fill: #fff;
}

input[type='text'] {
  display: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

input[type='text'].open {
  display: block;
}

/* line, swatch, palette */
input[type='range'] {
  width: 100%;
  margin-bottom: 20px;
}

/* swatch, palette */
.swatch-palette {
  display: flex;
  gap: 20px;
}

.palette {
  background-color: #fffdef;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  border-radius: 10px;
  box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.2);
}

.color-option {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: inset 3px 2px 8px rgba(0, 0, 0, 0.2);
}

#swatch {
  position: relative;
  width: 100%;
  background-color: white;
  box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  height: 50px;
}

#swatch h1 {
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 10px;
}

input[type='color'] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 50px;
  padding: 0;
  width: 50px;
}

#swatch svg {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 40px;
  top: 15px;
  fill: #000000;
  stroke: #fff;
  stroke-width: 2px;
}

/* File button */
.file {
  margin-top: 30px;
  width: 100%;
}

.filebox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.filebox .upload-name {
  display: inline-block;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  width: 66%;
  color: #999999;
  box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.filebox label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  color: #fff;
  background-color: #999999;
  cursor: pointer;
  height: 40px;
  margin-left: 8px;
  font-size: 12px;
  width: 90px;
  box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

input[type='file'] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

#save-btn {
  cursor: pointer;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  background-color: #6291ff;
  color: #fff;
  border: none;
  box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.2);
}

#save-btn:hover {
  background-color: #ffb76b;
  color: #000;
}
